/* MAIN BODY STYLING */
* {
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

/* JUMBOTRON */
header {
  background-color:white;
  padding:20px;
  text-align:center;
  color:black;
  font-family:'Mansalva', cursive;
}

.title{
  font-size:90px;
}
/*NAVIGATION BAR */
ul {
  list-style-type: none;
  margin:0;
  padding:0;
  overflow:hidden;
  background-color:#843B62;
  position:sticky;
  top:0;
}

li {
  float:left;
}

li a{
  display:block;
  color:white;
  font-size:20px;
  text-align:center;
  padding: 35px 40px;
  text-decoration:none;
}

li a:hover {
  background-color:#E2C2C6;
  color:black;
}

.active {
  background-color:#B9929F;
}

/* COLUMNS */

.column {
  float:left;
  width:50%;
  padding:10px;
  height:600px;
}

.para-text {
  font-family:'Muli', serif;
  font-size:20px;
}

.row:after {
  content:"";
  display:table;
  clear:both;
}

/* FOOTER */
footer {
  background-color:#777;
  padding:10px;
  text-align:center;
  color:white;
}

/*MEDIA QUERIES */
@media (max-width: 600px) {
    row {
    width:100%;
    height:auto;
  }
}
